<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome To The World Best Image Gallery</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<h1>Welcome To The World Best Image Gallery National Park of Africa, Your Must Visit Destination</h1>
	<div class="responsive">
		<div class="gallery">
			<a href="img/1.png" target="_self"><img src="img/1.png" width="300" height="200"><span>Image1</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/2.png" target="_self"><img src="img/2.png" width="300" height="200"><span>Image1</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/3.png" target="_self"><img src="img/3.png" width="300" height="200"><span>Image3</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/4.png" target="_self"><img src="img/4.png" width="300" height="200"><span>Image4</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/5.png" target="_self"><img src="img/5.png" width="300" height="200"><span>Image5</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/6.png" target="_self"><img src="img/6.png" width="300" height="200"><span>Image6</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/7.png" target="_self"><img src="img/7.png" width="300" height="200"><span>Image7</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/8.png" target="_self"><img src="img/8.png" width="300" height="200"><span>Image8</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/9.png" target="_self"><img src="img/9.png" width="300" height="200"><span>Image9</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/10.png" target="_self"><img src="img/10.png" width="300" height="200"><span>Image10</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/11.png" target="_self"><img src="img/11.png" width="300" height="200"><span>Image11</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/12.png" target="_self"><img src="img/12.png" width="300" height="200"><span>Image12</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/13.png" target="_self"><img src="img/13.png" width="300" height="200"><span>Image13</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/14.png" target="_self"><img src="img/14.png" width="300" height="200"><span>Image14</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/15.png" target="_self"><img src="img/15.png" width="300" height="200"><span>Image15</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/16.png" target="_self"><img src="img/16.png" width="300" height="200"><span>Image16</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/17.png" target="_self"><img src="img/17.png" width="300" height="200"><span>Image17</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/18.png" target="_self"><img src="img/18.png" width="300" height="200"><span>Image18</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/19.png" target="_self"><img src="img/19.png" width="300" height="200"><span>Image19</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/20.png" target="_self"><img src="img/20.png" width="300" height="200"><span>Image20</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/21.png" target="_self"><img src="img/21.png" width="300" height="200"><span>Image21</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/22.png" target="_self"><img src="img/22.png" width="300" height="200"><span>Image22</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/23.png" target="_self"><img src="img/23.png" width="300" height="200"><span>Image23</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/24.png" target="_self"><img src="img/24.png" width="300" height="200"><span>Image24</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/25.png" target="_self"><img src="img/25.png" width="300" height="200"><span>Image25</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/26.png" target="_self"><img src="img/26.png" width="300" height="200"><span>Image26</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/27.png" target="_self"><img src="img/27.png" width="300" height="200"><span>Image27</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/28.png" target="_self"><img src="img/28.png" width="300" height="200"><span>Image28</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/29.png" target="_self"><img src="img/29.png" width="300" height="200"><span>Image29</span></a>
		</div>
	</div>
	<div class="responsive">
		<div class="gallery">
			<a href="img/30.png" target="_self"><img src="img/30.png" width="300" height="200"><span>Image30</span></a>
		</div>
	</div>
</body>
</html>